In [4]:
import requests
import pandas as pd

# API endpoint for Iowa Liquor Sales data in JSON format
url = "https://data.iowa.gov/resource/m3tr-qhgy.json"

# Set parameters to limit the data to 100 rows
params = {
    "$limit": 100  # Limit to the first 100 records
}

# Make a GET request to the API with query parameters
response = requests.get(url, params=params)

# Check if the request was successful (status code 200 means success)
if response.status_code == 200:
    data = response.json()  # Parse the JSON response
    
    # Convert the JSON data into a Pandas DataFrame
    df = pd.DataFrame(data)
    
    # Print the first 5 rows of the DataFrame
    print("First 5 rows of the DataFrame:")
    print(df.head())
else:
    print("Failed to retrieve data. Status code:", response.status_code)

First 5 rows of the DataFrame:
   invoice_line_no                     date store  \
0  INV-41268900020  2021-10-22T00:00:00.000  5751
1  INV-41309800010  2021-10-25T00:00:00.000  2635
2  INV-41325400013  2021-10-25T00:00:00.000  4269
3  INV-41141800017  2021-10-19T00:00:00.000  2704
4  INV-41308200068  2021-10-25T00:00:00.000  2512

                                       name               address        city  \
0  CASEY'S GENERAL STORE #2346 / BURLINGTON        2630 SUMMER ST  BURLINGTON
1                     HY-VEE #4 / DAVENPORT        4064 E 53RD ST   DAVENPORT
2                       TIPTON FAMILY FOODS          610 CEDAR ST      TIPTON
3               HY-VEE OELWEIN DOLLAR FRESH  1345 S FREDERICK AVE     OELWEIN
4       HY-VEE WINE AND SPIRITS / IOWA CITY    1720 WATERFRONT DR   IOWA CITY

  zipcode                                     store_location county_number  \
0   52601  {'type': 'Point', 'coordinates': [-91.117485, ...            29
1   52807  {'type': 'Point', 'coordinates': [-90.513769, ...            82
2   52772  {'type': 'Point', 'coordinates': [-91.128389, ...            16
3   50662  {'type': 'Point', 'coordinates': [-91.913615, ...            33
4   52240  {'type': 'Point', 'coordinates': [-91.53046300...            52

       county  ... state_bottle_retail sale_bottles sale_dollars sale_liters  \
0  DES MOINES  ...               24.89           12       298.68        9.00
1       SCOTT  ...                2.70           48       129.60       18.00
2       CEDAR  ...               17.25            6       103.50        4.50
3     FAYETTE  ...               21.00            6       126.00       10.50
4     JOHNSON  ...               16.50            6        99.00       10.50

  sale_gallons :@computed_region_3r5t_5243 :@computed_region_wnea_7qqw  \
0         2.37                         656                          10
1         4.75                         227                          56
2         1.18                         721                          19
3         2.77                         865                           8
4         2.77                         896                          22

  :@computed_region_i9mz_6gmt :@computed_region_uhgg_e8y2  \
0                         118                          89
1                          83                          67
2                          17                          56
3                          94                          21
4                         292                          61

  :@computed_region_e7ym_nrbf
0                        1778
1                        1881
2                         180
3                         278
4                        1792

[5 rows x 29 columns]

In [5]:
# 1. Standardize column names (remove special characters, replace spaces with underscores)
df.columns = df.columns.str.replace(r'[^a-zA-Z0-9_]', '', regex=True)
df.columns = df.columns.str.strip().str.lower()

# 2. Convert 'date' column to datetime
df['date'] = pd.to_datetime(df['date'], errors='coerce')  # 'errors=coerce' will turn invalid dates into NaT

# 3. Convert numeric columns to appropriate data types (e.g., 'sale_dollars', 'sale_bottles')
numeric_columns = ['sale_dollars', 'sale_bottles', 'sale_liters', 'sale_gallons']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# 4. Drop unnecessary columns (e.g., computed region columns)
df = df.drop(columns=[col for col in df.columns if col.startswith(':@')])

# 5. Handle missing values (optional, depending on your needs)
df = df.dropna(subset=['date'])  # Drop rows with missing 'date' values (for example)

# Fill missing values in numerical columns with zeros:
df[numeric_columns] = df[numeric_columns].fillna(0)

# 6. Check cleaned data
print(df.head())

   invoice_line_no       date store                                      name  \
0  INV-41268900020 2021-10-22  5751  CASEY'S GENERAL STORE #2346 / BURLINGTON
1  INV-41309800010 2021-10-25  2635                     HY-VEE #4 / DAVENPORT
2  INV-41325400013 2021-10-25  4269                       TIPTON FAMILY FOODS
3  INV-41141800017 2021-10-19  2704               HY-VEE OELWEIN DOLLAR FRESH
4  INV-41308200068 2021-10-25  2512       HY-VEE WINE AND SPIRITS / IOWA CITY

                address        city zipcode  \
0        2630 SUMMER ST  BURLINGTON   52601
1        4064 E 53RD ST   DAVENPORT   52807
2          610 CEDAR ST      TIPTON   52772
3  1345 S FREDERICK AVE     OELWEIN   50662
4    1720 WATERFRONT DR   IOWA CITY   52240

                                      store_location county_number  \
0  {'type': 'Point', 'coordinates': [-91.117485, ...            29
1  {'type': 'Point', 'coordinates': [-90.513769, ...            82
2  {'type': 'Point', 'coordinates': [-91.128389, ...            16
3  {'type': 'Point', 'coordinates': [-91.913615, ...            33
4  {'type': 'Point', 'coordinates': [-91.53046300...            52

       county  ... state_bottle_retail sale_bottles sale_dollars sale_liters  \
0  DES MOINES  ...               24.89           12       298.68         9.0
1       SCOTT  ...                2.70           48       129.60        18.0
2       CEDAR  ...               17.25            6       103.50         4.5
3     FAYETTE  ...               21.00            6       126.00        10.5
4     JOHNSON  ...               16.50            6        99.00        10.5

  sale_gallons computed_region_3r5t_5243 computed_region_wnea_7qqw  \
0         2.37                       656                        10
1         4.75                       227                        56
2         1.18                       721                        19
3         2.77                       865                         8
4         2.77                       896                        22

  computed_region_i9mz_6gmt computed_region_uhgg_e8y2  \
0                       118                        89
1                        83                        67
2                        17                        56
3                        94                        21
4                       292                        61

  computed_region_e7ym_nrbf
0                      1778
1                      1881
2                       180
3                       278
4                      1792

[5 rows x 29 columns]

In [9]:
# Drop unnecessary columns
columns_to_drop = [col for col in df.columns if col.startswith('computed_region')]
df.drop(columns=columns_to_drop, inplace=True)

# 3. Handle missing values 
df = df.dropna(subset=['date'])  # Drop rows with missing 'date'
df[['sale_dollars', 'sale_bottles', 'sale_gallons']] = df[['sale_dollars', 'sale_bottles', 'sale_gallons']].fillna(0)

# 4. Save the cleaned data to a new CSV file
df.to_csv('final_cleaned_iowa_liquor_sales.csv', index=False)

# Print out the first few rows to verify
print(df.head())

   invoice_line_no       date store                                      name  \
0  INV-41268900020 2021-10-22  5751  CASEY'S GENERAL STORE #2346 / BURLINGTON
1  INV-41309800010 2021-10-25  2635                     HY-VEE #4 / DAVENPORT
2  INV-41325400013 2021-10-25  4269                       TIPTON FAMILY FOODS
3  INV-41141800017 2021-10-19  2704               HY-VEE OELWEIN DOLLAR FRESH
4  INV-41308200068 2021-10-25  2512       HY-VEE WINE AND SPIRITS / IOWA CITY

                address        city zipcode  \
0        2630 SUMMER ST  BURLINGTON   52601
1        4064 E 53RD ST   DAVENPORT   52807
2          610 CEDAR ST      TIPTON   52772
3  1345 S FREDERICK AVE     OELWEIN   50662
4    1720 WATERFRONT DR   IOWA CITY   52240

                                      store_location county_number  \
0  {'type': 'Point', 'coordinates': [-91.117485, ...            29
1  {'type': 'Point', 'coordinates': [-90.513769, ...            82
2  {'type': 'Point', 'coordinates': [-91.128389, ...            16
3  {'type': 'Point', 'coordinates': [-91.913615, ...            33
4  {'type': 'Point', 'coordinates': [-91.53046300...            52

       county  ... pack bottle_volume_ml state_bottle_cost  \
0  DES MOINES  ...   12              750             16.59
1       SCOTT  ...   24              375              1.80
2       CEDAR  ...    6              750             11.50
3     FAYETTE  ...    6             1750             14.00
4     JOHNSON  ...    6             1750             11.00

  state_bottle_retail sale_bottles sale_dollars sale_liters sale_gallons  \
0               24.89           12       298.68         9.0         2.37
1                2.70           48       129.60        18.0         4.75
2               17.25            6       103.50         4.5         1.18
3               21.00            6       126.00        10.5         2.77
4               16.50            6        99.00        10.5         2.77

  longitude latitude
0      None     None
1      None     None
2      None     None
3      None     None
4      None     None

[5 rows x 26 columns]

In [10]:
import os

# Check the current working directory
current_directory = os.getcwd()
print(f"Current working directory: {current_directory}")

Current working directory: C:\Users\andre